.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c19875;
    overflow: hidden;
  }
  
  .form{
    width: auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 20px;
  }
  
  hr{
    background-color: #f2e3bc;
    height: 5px;
  }
  
  .primarybutton{
    background-color: #414535;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .primarybutton:hover{
    background-color: #414535;
  
  }
  
  .secundarybutton{
    border: 2px solid;
    border-color: #414535;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .secundarybutton:hover{
    background-color: #414535;
    color: #fff;
  }