<div class="flex flex-col items-center justify-center p-5 bg-cover h-screen" style="background-image: url('assets/fondoAdmin.png');">
  <div class="dashboard-container">
  <header class="dashboard-header">
    <h1>Bienvenido, [Nombre]</h1>
    <img src="https://via.placeholder.com/150" alt="Imagen de perfil" class="profile-image" />
  </header>
  <section class="dashboard-actions">
    //redirigir al worker-register
    <button class="action-button" (click)="goToWorkerRegister()">Registrar Trabajador</button>
    <button class="action-button">Ingresar Producto</button>
    <button class="action-button">Ver Productos</button> 
  </section>
</div>
