<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cambiar Contraseña</title>
  <link rel="stylesheet" href="password-change-form.component.css">
</head>
<body>
  <div class="background-image" style="background-image: url('./assets/FondoVerde.png');"></div>

  <div class="content-container">
    <div class="form-container">
      <form class="max-w-sm mx-auto justify-items-center flex flex-col h-full" [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
        <div class="flex-grow flex flex-col justify-center">
          <h1 class="text-3xl font-extrabold text-gray-900 tracking-widest text-center mb-5" style="color: #618985; font-family: 'Impact', serif;">CAMBIAR CONTRASEÑA</h1>
          <hr class="w-48 h-1 mx-auto border-0 rounded mb-1">

          <!-- Contraseña Actual -->
          <div class="mb-2">
            <label for="currentPassword" class="mb-2 text-base font-medium text-gray-900" style="color: #618985; font-family: 'Impact', serif;">Contraseña Actual</label>
            <input [class.is-invalid]="passwordChangeForm.get('currentPassword')?.invalid && (passwordChangeForm.get('currentPassword')?.touched || passwordChangeForm.get('currentPassword')?.dirty)"
              name="currentPassword" type="password" formControlName="currentPassword" id="currentPassword"
              placeholder="Ingrese su contraseña actual"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5" />
            <small *ngIf="passwordChangeForm.get('currentPassword')?.invalid && (passwordChangeForm.get('currentPassword')?.touched || passwordChangeForm.get('currentPassword')?.dirty)"
              style="font-size:x-small;" class="text-red-500 font-medium">Ingrese una contraseña válida</small>
          </div>

          <!-- Nueva Contraseña -->
          <div class="mb-2 flex items-center">
           <div class="flex-grow">
            <label for="newPassword" class="mb-2 text-base font-medium text-gray-900" style="color: #618985; font-family: 'Impact', serif;">Nueva Contraseña</label>
             <input [class.is-invalid]="passwordChangeForm.get('newPassword')?.invalid && (passwordChangeForm.get('newPassword')?.touched || passwordChangeForm.get('newPassword')?.dirty)" name="newPassword" type="password" formControlName="newPassword" id="newPassword"
              placeholder="Ingrese nueva contraseña"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5" />
            <small *ngIf="passwordChangeForm.get('newPassword')?.invalid && (passwordChangeForm.get('newPassword')?.touched || passwordChangeForm.get('newPassword')?.dirty)" style="font-size:x-small;" class="text-red-500 font-medium">Ingrese una contraseña válida</small>
            </div>
          </div>


        <!-- Confirmar Contraseña -->
          <div class="mb-2">
             <label for="confirmPassword" class="mb-2 text-base font-medium text-gray-900" style="color: #618985; font-family: 'Impact', serif;">Confirmar Contraseña</label>
            <input [class.is-invalid]="passwordChangeForm.get('confirmPassword')?.invalid && (passwordChangeForm.get('confirmPassword')?.touched || passwordChangeForm.get('confirmPassword')?.dirty)" name="confirmPassword" type="password" formControlName="confirmPassword" id="confirmPassword"
              placeholder="Confirme su nueva contraseña"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5" />
            <small *ngIf="passwordChangeForm.get('confirmPassword')?.hasError('passwordMismatch') && passwordChangeForm.get('confirmPassword')?.touched" style="font-size:x-small;" class="text-red-500 font-medium">Las contraseñas no coinciden</small>
            <small *ngIf="passwordChangeForm.get('confirmPassword')?.invalid && passwordChangeForm.get('confirmPassword')?.touched && !passwordChangeForm.get('confirmPassword')?.hasError('passwordMismatch')" style="font-size:x-small;" class="text-red-500 font-medium">Este campo es obligatorio</small>
          </div>

          <div class="mb-2 flex justify-between">
            <button type="submit" [disabled]="passwordChangeForm.invalid" class="primarybutton font-semibold rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center text-white bg-blue-600 hover:bg-blue-700 mr-10">
              Confirmar contraseña
            </button>
            <a (click)="goBack()" class="secundarybutton font-semibold rounded-lg text-sm px-5 py-2 text-center text-white bg-blue-600 hover:bg-blue-700">
              Volver
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>