.bg-custom {
    background-color: #414535;
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EF233C;
    overflow: hidden;
  }
  
  .form{
    width: auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 12px;
  }
  
  hr{
    background-color: #414535;
    height: 5px;
  }
  
  .primarybutton{
    border: 2px solid;
    border-color: #414535;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .primarybutton:hover{
    background-color: #414535;
    color: #fff;
  
  }
  
  .secundarybutton{
    border: 2px solid;
    border-color: #414535;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .secundarybutton:hover{
    background-color: #414535;
    color: #fff;
  }