/* Estilos para el video de fondo */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos para el contenedor principal */
.content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 20px;
  z-index: 2;
}

/* Estilos para el texto de bienvenida */
.welcome-text {
  flex: 2;
  text-align: center;
  padding-right: 10px;
  margin-right: 250px;
  z-index: 2;
}

/* Clase para centrar el texto "A" */
.center-text {
  display: block;
  text-align: center;
  margin: 0 auto;
}

/* Estilos para el contenedor del formulario */
.form-container {
  flex: 1;
  background-color: #f2e3bc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  z-index: 2; /* Asegúrate de que el formulario esté por encima del video */
  border: 3px solid #c19875; /* Agrega el borde con el color especificado */
}

.form-content {
  display: flex;
  flex-direction: column;
}

.primarybutton {
  background-color: #c19875;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 10;
}

.primarybutton:hover {
  background-color: #000000;
  z-index: 10;
}

.secundarybutton {
  background-color: #c19875;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 10;
}

.secundarybutton:hover {
  background-color: #000000;
  z-index: 10;
}