<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrar Producto</title>
  <link rel="stylesheet" href="product-register-form.component.css">
</head>
<body>
  <div class="background-image" style="background-image: url('./assets/FondoVerde.png');"></div>
  <div class="content-container">
    <div class="form-container">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="max-w-lg mx-auto justify-items-center flex flex-col h-full">
        <div class="flex-grow flex flex-col justify-center">
          <h1 class="text-3xl font-extrabold text-gray-900 tracking-widest text-center mb-5" style="color: #618985;font-family: 'Impact', serif;">
            REGISTRAR PRODUCTO
          </h1>
          <hr class="w-48 h-1 mx-auto border-0 rounded mb-5">

          <!-- ISBN -->
          <div class="mb-2">
            <label for="ISBN" class="mb-2 text-base font-medium text-gray-900" style="color: #618985; font-family: 'Impact', serif;">ISBN</label>
            <input name="ISBN" type="text" formControlName="ISBN" id="ISBN" placeholder="Ingrese el ISBN"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5" />
            <div *ngIf="form.get('ISBN')?.invalid && form.get('ISBN')?.touched" class="text-red-500 text-sm">
              <span *ngIf="form.get('ISBN')?.errors?.['required']">El ISBN es obligatorio.</span>
              <span *ngIf="form.get('ISBN')?.errors?.['minlength']">Debe tener al menos 10 numeros.</span>
            </div>
          </div>

          <!-- Autor/Director -->
          <div class="mb-2">
            <label for="creator" class="mb-2 text-base font-medium text-gray-900" style="color: #618985; font-family: 'Impact', serif;">Autor/Director</label>
            <input name="creator" type="text" formControlName="creator" id="creator" placeholder="Ingrese el autor o director"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5" />
            <div *ngIf="form.get('creator')?.invalid && form.get('creator')?.touched" class="text-red-500 text-sm">
              <span *ngIf="form.get('creator')?.errors?.['required']">El autor/director es obligatorio.</span>
            </div>
          </div>

          <!-- Título -->
          <div class="mb-2">
            <label for="title" class="mb-2 text-base font-medium text-gray-900" style="color: #618985; font-family: 'Impact', serif;">Título</label>
            <input name="title" type="text" formControlName="title" id="title" placeholder="Ingrese el título"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5" />
            <div *ngIf="form.get('title')?.invalid && form.get('title')?.touched" class="text-red-500 text-sm">
              <span *ngIf="form.get('title')?.errors?.['required']">El título es obligatorio.</span>
            </div>
          </div>

          <!-- Tipo -->
          <div class="mb-2">
            <label for="type" class="mb-2 text-base font-medium text-gray-900" style="color: #618985; font-family: 'Impact', serif;">Tipo</label>
            <select name="type" formControlName="type" id="type"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5">
              <option value="" disabled selected>Seleccione el tipo</option>
              <option value="libro">Libro</option>
              <option value="pelicula">Película</option>
            </select>
            <div *ngIf="form.get('type')?.invalid && form.get('type')?.touched" class="text-red-500 text-sm">
              <span *ngIf="form.get('type')?.errors?.['required']">El tipo es obligatorio.</span>
            </div>
          </div>

          <!-- Fecha de Publicación -->
          <div class="mb-2">
            <label for="release_date" class="mb-2 text-base font-medium text-gray-900" style="color: #618985; font-family: 'Impact', serif;">Fecha de Publicación</label>
            <input name="release_date" type="date" formControlName="release_date" id="release_date"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5" />
            <div *ngIf="form.get('release_date')?.invalid && form.get('release_date')?.touched" class="text-red-500 text-sm">
              <span *ngIf="form.get('release_date')?.errors?.['required']">La fecha de publicación es obligatoria.</span>
            </div>
          </div>

          <!-- Costo -->
          <div class="mb-2">
            <label for="price" class="mb-2 text-base font-medium text-gray-900" style="color: #618985; font-family: 'Impact', serif;">Costo</label>
            <input name="price" type="number" formControlName="rental_price" id="price" placeholder="Ingrese el costo"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5" />
            <div *ngIf="form.get('rental_price')?.invalid && form.get('rental_price')?.touched" class="text-red-500 text-sm">
              <span *ngIf="form.get('rental_price')?.errors?.['required']">El costo es obligatorio.</span>
            </div>
          </div>

          <!-- Cantidad -->
          <div class="mb-2">
            <label for="initial_stock" class="mb-2 text-base font-medium text-gray-900" style="color: #618985; font-family: 'Impact', serif;">Cantidad</label>
            <input name="initial_stock" type="number" formControlName="initial_stock" id="initial_stock" placeholder="Ingrese la cantidad"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5" />
            <div *ngIf="form.get('initial_stock')?.invalid && form.get('initial_stock')?.touched" class="text-red-500 text-sm">
              <span *ngIf="form.get('initial_stock')?.errors?.['required']">La cantidad es obligatoria.</span>
            </div>
          </div>

          <!-- Editorial/Estudio -->
          <div class="mb-2">
            <label for="publisher" class="mb-2 text-base font-medium text-gray-900" style="color: #618985; font-family: 'Impact', serif;">Editorial/Estudio</label>
            <input name="publisher" type="text" formControlName="publisher" id="publisher" placeholder="Ingrese la editorial o estudio"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5" />
            <div *ngIf="form.get('publisher')?.invalid && form.get('publisher')?.touched" class="text-red-500 text-sm">
              <span *ngIf="form.get('publisher')?.errors?.['required']">El campo es obligatorio.</span>
              <span *ngIf="form.get('publisher')?.errors?.['minlength']">Debe tener al menos 10 caracteres.</span>
            </div>
          </div>

          <!-- Botones -->
          <div class="flex justify-between mt-4">
            <button type="button" (click)="goBack()" class="secundarybutton font-semibold rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center text-white bg-blue-600 hover:bg-blue-700">
              Volver
            </button>
            <button type="submit" [disabled]="form.invalid" class="primarybutton font-semibold rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center text-white bg-blue-600 hover:bg-blue-700">
              Confirmar Ingreso
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
