.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c19875;
    overflow: hidden;
  }
  
  .form{
    width: auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 12px;
  }
  
  hr{
    background-color: #000000;
    height: 4px;
    
  }
  
  .primarybutton{
    background-color: #c19875;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .primarybutton:hover{
    background-color: #000000;
  
  }
  
  .secundarybutton{
    background-color: #c19875;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .secundarybutton:hover{
    background-color: #000000;
    color: #bf0b0b;
  }
