
<!-- Main Content -->
<main class="main-content">
  <div class="content-container">
    <!-- Search Bar -->
    <div class="search-bar">
      <div class="menu-container">
        <button class="menu-button" (click)="toggleMenu()">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="3" y1="18" x2="21" y2="18"></line>
          </svg>
        </button>
        <div class="menu-items" *ngIf="menuOpen">
          <button (click)="selectProduct('pelicula')" class="menu-item">Película</button>
          <button (click)="selectProduct('libro')" class="menu-item">Libro</button>
          <button (click)="selectProduct('todos')" class="menu-item">Todos</button>
        </div>
      </div>   
      <div class="search-input-container">
        <input type="text" placeholder="Buscador" class="search-input" (input)="onSearch($event)">
        <svg class="search-icon" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
      </div>
      <!-- Botón en el lado derecho de la barra de búsqueda -->
      <div class="relative right-menu">
        <button type="button" (click)="toggleRightMenu()" class="menu-button text-white flex items-center">
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 10a2 2 0 110-4 2 2 0 010 4zm4 0a2 2 0 110-4 2 2 0 010 4zm4 0a2 2 0 110-4 2 2 0 010 4z" fill="black"></path>
          </svg>
        </button>
        <ul *ngIf="rightMenuOpen" class="absolute right-0 mt-2 w-48 bg-white border border-gray-200 rounded-lg shadow-lg">
          <li>
            <button (click)="goToPasswordChange()" class="block w-full text-left px-4 py-2 text-gray-700 hover:bg-gray-100">Cambiar Contraseña</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="product-list" *ngFor="let product of filteredProducts">
      <div class="product-item bg-white border dark:bg-gray-800 dark:border-gray-700 p-4 m-2 rounded-lg flex items-center">
        <img *ngIf="product.imageUrl" [src]="product.imageUrl" alt="{{ product.title }}" class="product-image">
        <div>
          <div class="product-title text-xl font-bold mb-2">Titulo: {{ product.title }}</div>
          <div class="product-rental-price text-lg mb-2">Precio de Renta (CLP): ${{ product.rental_price }}</div>
          <div class="product-type text-md">Tipo: {{ product.type }}</div>
        </div>
      </div>
    </div>
  </div>
</main>


